modalIcon{
    border: 1px solid darkcyan;
    /*margin: 0;*/
    /*padding: 5px;*/

}
linkIcon{
    border: 1px solid #a62c46;
    /*margin: 0;*/
    /*padding: 0;*/
}

.portfolio-col{
    background: #1d1d1d;
    /*background-color: floralwhite;*/
}


.portfolio-item:hover img{
    border: 1px solid darkred;
    /*opacity: 0.5;*/
    z-index: -1;
    margin-left: 70px;
    /*bottom: 30px;*/
    /*margin: 0;*/
}

/*.porfolio-item:hover img{*/
    /*border: 1px solid darkred;*/
    /*opacity: 0.5;*/
    /*margin: 0 0 60px;*/
/*}*/


.portfolio-item-info{
    /*border: 1px solid deeppink;*/
    /*height: 80%;*/
    /*width: 100%;*/
    /*padding: 0;*/
}
/*.portfolio-item .portfolio-item-info:before{*/
    /*height: 80%;*/
    /*width: 100%;*/
    /*!*width: 80%;*!*/
    /*margin: 0;*/
    /*padding: 0;*/

/*}*/

.portfolio-item .portfolio-item-info:before {
    background: navy;
    /*height: 100%;*/
    /*width: 100%;*/
    /* width: 80%; */
    /*margin: auto -21px;*/
    /*padding: 0;*/
}


.portfolio-item, item-caption{
    /*border: 1px solid orange;*/
    /*background: floralwhite;*/
    text-align: left;
    /*font-size: 18px;*/
    margin: 0;
    padding: 0;
}

.filtr-item{
    /*border: 3px solid lime;*/
}

.myProject-title{
    /*border: 1px solid aqua;*/
}

.myProject-list li{
    display: inline-block;
}




.welcome-section-two{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/screenshort/backgroundcode.png);
    padding: 220px 0 0;

}

.logo-terrado{
    color: white;
    font-size: 35px;
    text-shadow: 0px 0px 24px rgba(0, 5, 6, 0), 2px 0px 5px rgba(9, 0, 0, 1);

}

#myPicture{
    max-width: 70%;
}

.portfolio-section.section-default, .info-box{
    background-color: pink;
    /*background: #1d1d1d;*/
    color: white;
    padding: 30px 0 5px;
}

about{
    border: 1px solid lime;
}



.about-two-section, .about-col h2{
    background-color: black;
    color: white;
}

.my-projectImages{
    border: 1px solid #a62c46;
    height: 275px;
    width: 100%;
    /*margin-left: 45px;*/
}

/*p.myProject-desc {*/
    /*font-size: 1.5vmin;*/
/*}*/

.myProject-desc{
    font-size: 13px;
    line-height: normal;
    font-weight: normal;
    background-color: gray();
    color: white;
    margin: auto;
}

.default-title h2{
    background: black;
    color: white;
    font-weight: normal;
}

mySkills{
    background: deeppink;
}

.service-section.section-default{
    background-color: black;
    padding: 120px 0 40px;
}

service-icon i{
    font-size: 70px;
}



.serviceBox title{
    text-align: center;
    position: relative;
    /*margin-bottom: 80px;*/
    margin: 60px 20px 0 0;
    font-size: 5px;
    padding: 10px 0;
    color: white;
}

#myTitle{
    display: inline-block;
    padding: 0;
    font-size: 15px;
    font-weight: normal;
    margin: 50px 15px 20px 0;
    color: white;
}

.serviceBox {
    border: 0.5px solid black;
    background-color: black;
    text-align: center;
    position: relative;
    /*margin-bottom: 75px;*/
    /*padding: 30px 0 30px;*/
    /*padding: 0 30px 30px 20px;*/

    margin: 60px 0 5px 0;
    padding: 0;

}

.serviceBox .service-icon{
    position: absolute;
    /*left: 50%;*/
    top: -45px;
    /*margin-left: -45px;*/
    width: 100px;
    line-height: 90px;
    background: white;
    font-size: 60px;
    color: #ffffff;
    transition: all 500ms ease 0s;

    left: 20px;
    margin: 0;
}
.serviceBox .service-icon:after{
    position: absolute;
    content: "";
    height: 165px;
    width: 120px;
    border: 1px solid aqua;
    color: white;

    /*left: -1px;*/
    top: -15px;
    margin: 0;

    opacity: 0;
    transform: scale(0.8, 0.8);
    transition: all 500ms ease 0s;
    /*margin: 0px 0px 30px -20px;*/
}

contact{
    background-color: black;
}

/*@media screen and (min-width: 992px){*/
    /*div.col-md-4 {*/
        /*width: 20%;*/
        /*margin: auto;*/
        /*left: 20px;*/
    /*}*/
/*}*/
